div {
    //border:1px red solid;
}

html, body{
    margin:0;
    background-color:#f4f4f4;
    font-family: 'Tinos', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin:0px;
}

h6 {
    font-size:0.66em;
    font-weight:bold;
}

.header-font    {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}

.page-container  {
    width:1070px;
    margin: 0 auto;
    position:relative;
}

.header {
    position:static;
    height:50px;
    background-color:#fff;
}

.article-container {
    position:relative;
    width:740px;
    margin-top:20px;
    background-color:white;

    & .banner-img {
        background-image:url("http://cdn.thedailybeast.com/content/dailybeast/articles/2016/08/29/legendary-comedic-actor-gene-wilder-dead-at-83/jcr:content/image.crop.800.500.jpg/49083699.cached.jpg");
        background-size: cover;
        height: 462.5px;
        width: 100%;
    }

    & .banner-subtext   {
        text-align:right;
        text-transform:uppercase;
        font-size:11px;
        color:#8C959A;
        margin-top:5px;
        margin-bottom:20px;
        margin-right: 5px;

    & .article-body-header {
        width: 705px;
        height: 38px;
        padding: 10 20 10 20;
    
        & .rubric {
            text-transform:uppercase;
            font-size:15px;
            padding-right:10px;
            display:inline;
            line-height:18px;
            margin-left:35px;
            color: #f00606;

        }
    }
        
    }
    
    & .article-body   {
        position:relative;
    
       & .sticky-rail    {
            position:absolute;
            top:0px;
            left:0px;
            width:95px;
            text-align:center;

            & .sharebutton-facebook {
                height:35px;
                line-height:35px;
            }

            & img {
                margin-bottom:15px;
            }
        }
        
        & .article-text   {
            margin: 0 0 0 95;
        }
    }
}




.list-container {
    width:300px;
    position:fixed;
    right:calc(50% - 535px);
    top:70px;
    background-color:white;
}

.list-container-header  {
    background-color:black;
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    padding: 5 10 5 5;
}
